image: maven:latest

default:
    before_script:
        - cd assignment5/

stages:
    - build
    - test

build:
  stage: build
  tags:
    - docker

  script:
    - mvn compile

test:
  stage: test
  tags:
    - docker
  script:
    - mvn test

