image: maven:3-jdk-8

stages:
    - build
    - test

build:
  stage: build
  tags:
    - docker
  before_script:
    - cd assignment6/
  script:
    - mvn compile

test:
  stage: test
  tags:
    - docker
  before_script:
    - cd assignment5/
  script:
    - mvn test

